@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(23, 28, 36);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1333aa;
  border-radius: 14px;
}
